.err{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    &__content{
        background-color: #fff;
        position:absolute;
        top:10px;
        left:10px;
        
        padding:10px 20px;
        animation: err 0.3s linear 0s 1 alternate;
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;

            & > .MuiSvgIcon-root{
                color:red;
                margin:0 5px;
            }
            h1{
                font-size:1rem;
               
            }
        }
    }
}
@keyframes err{
    from{
        left:-400px;
    }to{
        left:10px;
    }
}